<a href="https://colab.research.google.com/github/lschoch/MLA_LHS/blob/main/MLA1_LHS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Machine Learning Assignment 1**
#**Lawrence Schoch**
#**CS430-ON**
#**Machine Learning in the Cloud**

Import libraries, mount google drive.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

Read weather_2012.csv and display the first five rows.

In [8]:
df = pd.read_csv('/content/gdrive/MyDrive/1CS430/weather_2012.csv')
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

Display the last five rows and a sample of five random rows from weather_2012.csv

In [14]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [15]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8743,12/30/2012 7:00,-9.9,-13.2,77,19,25.0,100.48,Mostly Cloudy
8326,12/12/2012 22:00,-3.8,-5.6,87,4,11.3,102.40,Snow Showers
7719,11/17/2012 15:00,2.4,-7.4,48,6,48.3,103.43,Mainly Clear
6569,9/30/2012 17:00,11.7,11.2,97,11,8.0,100.21,"Rain,Fog"
2201,4/1/2012 17:00,2.8,0.5,85,22,24.1,100.12,Rain

Display the column names.

In [21]:
list(df)

['Date/Time',
 'Temp (C)',
 'Dew Point Temp (C)',
 'Rel Hum (%)',
 'Wind Spd (km/h)',
 'Visibility (km)',
 'Stn Press (kPa)',
 'Weather']

Rename columns

In [29]:
df.rename(columns = {'Date/Time':'date_time'},inplace=True)
df.rename(columns = {'Temp (C)':'temp_c'},inplace=True)
df.rename(columns = {'Dew Point Temp (C)':'dew_point'},inplace=True)
df.rename(columns = {'Rl Hum (%)':'relative_humidty'},inplace=True)
df.rename(columns = {'Wind Spd (km/h)':'wind_speed'},inplace=True)
df.rename(columns = {'Visibility (km)':'visibility'},inplace=True)
df.rename(columns = {'Stn Press (kPa)':'pressure'},inplace=True)
df.rename(columns = {'Weather':'weather'},inplace=True)
list(df)

['date_time',
 'temp_c',
 'dew_point',
 'relative_humidity',
 'wind_speed',
 'visibility',
 'pressure',
 'weather']

Standard statistics for numerical data.

In [25]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000